<phpunit>
  <testsuites>
    <testsuite name="all">
	<file>src/symfony/ClassLoader/Tests/UniversalClassLoaderTest.php</file>
        <file>src/whs/ElectionMachine/Tests/Census/Participant/ParticipantTest.php</file>
        <file>src/whs/ElectionMachine/Tests/Census/Participant/ParticipantCollectionTest.php</file>
        <file>src/whs/ElectionMachine/Tests/Census/CensusTest.php</file>
        <file>src/whs/ElectionMachine/Tests/ElectionMachineTest.php</file>
        <file>src/whs/ElectionMachine/Tests/Vote/VoteCollectionTest.php</file>
        <file>src/whs/ElectionMachine/Tests/Vote/VoteTest.php</file>
        <file>src/whs/ElectionMachine/Tests/Party/PartyTest.php</file>
        <file>src/whs/ElectionMachine/Tests/Party/PartyCollectionTest.php</file>
        <file>src/whs/ElectionMachine/Tests/VoteCounter/VoteCounterTest.php</file>
        <file>src/whs/ElectionMachine/Tests/VoteCounter/Result/ElectionResultTest.php</file>
        <file>src/whs/Utility/Tests/Collection/BaseCollectionTest.php</file>
        <file>src/whs/Utility/Tests/Collection/HashedCollectionTest.php</file>
        <file>src/whs/Utility/Tests/ObjectTemplate/IdentifiedObjectTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
